<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Chuyển hướng tất cả các request không phải là file hoặc thư mục thật
    # đến file index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
